.card-list {
  display: grid;
  grid-template-rows: 95px 95px 95px 95px 95px 95px;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  gap: 10px;

  justify-content: center;

  margin: 0;
  margin-right: 30px;
  padding: 0;

  list-style: none;
}

@media (max-width: 767px) {
  .card-list {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}