.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -10%;
  padding: 0 20px;
  width: 100%;
}

.start-page__title {
  margin-bottom: 35px;

  color: #ffffff;
  font-size: 34px;
  letter-spacing: 2px;
  text-align: center;

  text-shadow: 1px 1px 5px #000000;
}

.start-page__wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.start-page__form {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
}

.start-page__input {
  margin-bottom: 25px;
  padding: 15px 15px;

  font: inherit;

  border: none;
  border-radius: 10px;

  outline: none;
  box-shadow: inset 0 0 5px #000000;
}

.start-page__input:hover,
.start-page__input:focus {
  box-shadow: inset 0 0 10px rgb(5, 5, 5);
}

.start-page__button {
   padding: 15px 45px;

   color: #ffffff;         
   font: inherit;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   
   background-image: linear-gradient(to right, #1b1b1b 0%, #b31818  51%, #1b1b1b  100%);
   background-size: 200% auto;

   border: none;
   border-radius: 10px;
   outline: none;

   box-shadow: 0 0 5px rgb(5, 5, 5);
   transition: all 0.4s ease-in;
 }

 .start-page__button:hover,
 .start-page__button:focus {
   background-position: right center;
   box-shadow: 0 0 10px rgb(95, 92, 92);

   cursor: pointer;
 }

 .start-page__button--second {
  background-position: right center;
 }

 .start-page__button--second:hover,
 .start-page__button--second:focus {
  background-position: left center;
 }


 @media (max-width: 767px) {
   .start-page__wrapper{
     width: 100%;
   }
 }